<% if (page.prev || page.next){ %>
<div class="container" >
  <ul class="pager">
    <li class="previous">
      <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>">
        <span class="meta-arraw meta-arraw-left"> </span><%- __('next')%>
      </a>
      <% } %>
    </li>
    <li class="next">
      <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>">
        <%- __('prev')%><span class="meta-arraw meta-arraw-right"> </span>
      </a>
      <% } %>
    </li>
  </ul>
</div>
<% } %>
