<div class="nav-links">
      <div class="nav-previous">
        <% if (page.prev) { %>
          <a href="<%- config.root %><%- page.prev.path %>" rel="prev"><span class="meta-arraw meta-arraw-left"></span> <%- __('next')%></a>
        <% } %>
      </div>
    <% if (page.next) { %>
      <div class="nav-next">
        <a href="<%- config.root %><%- page.next.path %>" rel="prev"><%- __('prev')%> <span class="meta-arraw meta-arraw-right"></span></a>
      </div>
    <% } %>
  </div>